* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Beatrice Deck Trial Medium";
}

body {
    background-image: url("../img/Home.png");
    background-position: center;
    background-size: cover;
}

html,
body {
    height: 100%;
}

.page-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.container {
    max-width: 1540px;
    margin: auto;
}

/* Header */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px 40px;
    align-items: center;
}

.buttons ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;

    &:hover {
        opacity: 0.7;
    }
}

.buttons ul li:first-child {
    position: relative;
}

.side-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    background: url("../img/young-handsome-businessman-black-shirt-black-suit\ 2.png") no-repeat center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.107);
    left: 0;
    width: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0;
    z-index: 4;
    overflow: auto;
}

.side-menu-wrapper {
    margin: 40px;
}

.side-menu-links ul li a {
    display: flex;
    align-items: center;
    gap: 7px;
}

.side-menu-links ul li a i {
    font-size: 20px;
}

.exit-btn {
    display: flex;
    justify-content: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.links-line {
    margin: 30px 0px 10px 0px;
    display: flex;
}

.links-txt {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    cursor: default;
}

.links-txt::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: black;
    right: -150px;
    top: 10px;
}

.links-txt::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: black;
    left: -150px;
    top: 10px;
}


.personal-links-btns ul li a {
    display: flex;
    align-items: center;
    gap: 7px;
}

.personal-links-btns ul li a i {
    font-size: 20px;
}


.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.438);
    display: none;
    z-index: 2;
}

.overlay.active {
    display: initial;
}

.side-menu.active {
    width: 450px;
    opacity: 0.95;
    animation: textSlide 0.5s linear;

}

.extra-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.extra-links ul li a {
    font-size: 25px;
    color: white;
    background-color: #000000e2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    transition: 0.3s;

    &:hover {
        background-color: #3e3e3ee2;
    }

    &:active {
        background-color: #6c6c6ce2;
    }
}

/* main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 30px 40px 30px 40px;
}

.about-us-landing {
    display: flex;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}

.landing-txt-block {
    width: 400px;
}

.landing-titile {
    font-size: 30px;
    font-weight: bold;
}

.landing-txt {
    font-size: 14px;
}

.landing-img-block {
   background-color: black;
   padding: 20px 10px 0px 0px ;
}

.landing-img-block img {
    height: 300px;
    width: auto;
    border-radius: 0 30px 0 0;
    
}

.about-company-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 20px 0;
    gap: 20px;
}

.about-company-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.about-company-txt {
    font-size: 14px;
    text-align: center;
}

.about-company-btn a {
    text-decoration: none;
    background-color: black;
    padding: 10px 20px;
    color: white;
    transition: 0.2s;
    &:hover {
        box-shadow: rgb(120, 120, 120) 0px 5px 10px 3px;
    }
}

/* footer */
footer {
    background: url("../img/Home.png") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.062);
    display: grid;
    align-items: center;
}

.footer-wrapper {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-wrapper ul {
    list-style: none;
}

.footer-wrapper ul li:first-child {
    margin-bottom: 10px;
    opacity: 0.7;
    padding: 5px 10px;
    cursor: default;
}

.footer-wrapper ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    opacity: 0.6;
    transition: 0.1s;
    padding: 5px 2px;

    &:hover {
        opacity: 1;
    }
}

.footer-column-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-column-1-row-1 ul li:nth-child(3) {
    border-bottom: 2px solid #6c6c6ce2;
    width: max-content;
}