* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Beatrice Deck Trial Medium";
}

body {
    background-image: url("../img/Home.png");
    background-position: center;
    background-size: cover;
}

html,
body {
    height: 100%;
}

.page-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.container {
    max-width: 1540px;
    margin: auto;
}

/* Header */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px 40px;
    align-items: center;
}

.buttons ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;

    &:hover {
        opacity: 0.7;
    }
}

.buttons ul li:first-child {
    position: relative;
}

.side-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    background: url("../img/young-handsome-businessman-black-shirt-black-suit\ 2.png") no-repeat center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.107);
    left: 0;
    width: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0;
    z-index: 4;
    overflow: auto;
}

.side-menu-wrapper {
    margin: 40px;
}

.side-menu-links ul li a {
    display: flex;
    align-items: center;
    gap: 7px;
}

.side-menu-links ul li a i {
    font-size: 20px;
}

.exit-btn {
    display: flex;
    justify-content: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.links-line {
    margin: 30px 0px 10px 0px;
    display: flex;
}

.links-txt {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    cursor: default;
}

.links-txt::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: black;
    right: -150px;
    top: 10px;
}

.links-txt::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: black;
    left: -150px;
    top: 10px;
}


.personal-links-btns ul li a {
    display: flex;
    align-items: center;
    gap: 7px;
}

.personal-links-btns ul li a i {
    font-size: 20px;
}


.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.438);
    display: none;
    z-index: 2;
}

.overlay.active {
    display: initial;
}

.side-menu.active {
    width: 450px;
    opacity: 0.95;
    animation: textSlide 0.5s linear;

}

.extra-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.extra-links ul li a {
    font-size: 25px;
    color: white;
    background-color: #000000e2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    transition: 0.3s;

    &:hover {
        background-color: #3e3e3ee2;
    }

    &:active {
        background-color: #6c6c6ce2;
    }
}

/* main */
main {
    
    height: auto;
    padding: 30px 40px 30px 40px;
}

.sort-bar {
    padding: 30px 15px;
    width: 100%;
}

.sort-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.totall-count {
    font-size: 23px;
}

.sort-filter-btn ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.sort-filter-btn ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 19px;
}

.sort-filter-btn ul li img {
    height: 15px;
}

.sort-filter-btn ul li i {
    font-size: 25px;
}

.new-featured-clothess-main-block {
    padding: 0px 15px;
}

.new-featured-clothess-main-wrapper {
    display: grid;
    grid-template-columns: 0% 100%;
    gap: 0px;
    padding: 0px 15px 0 0;
    transition: 0.5s;
}

.new-featured-clothess-filter-wrapper {
    height: 70vh;
    padding: 0 20px 0 0;
    overflow-y: hidden;
    overflow-x: hidden;
    visibility: hidden;
}

.new-featured-clothess-filter-wrapper::-webkit-scrollbar {
    width: 8px;
}

.new-featured-clothess-filter-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.new-featured-clothess-filter-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}

.new-featured-clothess-filter-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}   

.new-featured-clothess-filter-wrapper.active-filter {
    width: 100vw;
}

.new-featured-clothess-filter-wrapper ul {
    list-style: none;
}

.filter-nav-links {
    margin-bottom: 40px;
}

.filter-nav-links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.626);
    letter-spacing: 0.5px;
    transition: 0.2s;

    &:hover {
        opacity: .8;
    }
}

.filter-nav-expand-blocks {
    border-bottom: 1px solid rgba(177, 177, 177, 0.763);
    margin-bottom: 20px;
    height: 40px;
    overflow: hidden;
    transition: 0.3s;
}

.filter-nav-expand-blocks ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.filter-nav-expand-blocks ul li:first-child {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-nav-expand-blocks ul li:not(.filter-nav-expand-blocks ul li:first-child) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-nav-expand-blocks ul li input {
    height: 20px;
    width: 20px;
    border: thin 0.2px #888;
}

.filter-nav-expand-blocks ul li:first-child i {
    font-size: 25px;
}

.new-featured-clothess-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 15px;
}

.clothes-box {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    overflow: hidden;
    
}

.clothes-box img {
    width: auto;
    height: 450px;
}

.clothess-block-txt-1 {
    font-size: 14px;
    color: #b73d00;
    font-weight: 600;
}

.clothess-block-txt-2 {
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0 0 1px black;
}

.clothess-block-txt-3,
.clothess-block-txt-4 {
    opacity: 0.7;
}

.clothess-block-txt-5 {
    font-size: 15px;
    font-weight: 600;
}

/* footer */
footer {
    background: url("../img/Home.png") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.062);
    display: grid;
    align-items: center;
}

.footer-wrapper {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-wrapper ul {
    list-style: none;
}

.footer-wrapper ul li:first-child {
    margin-bottom: 10px;
    opacity: 0.7;
    padding: 5px 10px;
    cursor: default;
}

.footer-wrapper ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    opacity: 0.6;
    transition: 0.1s;
    padding: 5px 2px;

    &:hover {
        opacity: 1;
    }
}

.footer-column-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-column-1-row-1 ul li:nth-child(3) {
    border-bottom: 2px solid #6c6c6ce2;
    width: max-content;
}