* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Beatrice Deck Trial Medium";
}

body {
    background-image: url("../img/Home.png");
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1540px;
    margin: auto;
}

/* Header */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px 40px;
    align-items: center;
}

.buttons ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;

    &:hover {
        opacity: 0.7;
    }
}

.buttons ul li:first-child {
    position: relative;
}

.side-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    background: url("../img/young-handsome-businessman-black-shirt-black-suit\ 2.png") no-repeat center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.107);
    left: 0;
    width: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0;
    z-index: 4;
    overflow: auto;
}

.side-menu-wrapper {
    margin: 40px;
}

.side-menu-links ul li a {
    display: flex;
    align-items: center;
    gap: 7px;
}

.side-menu-links ul li a i {
    font-size: 20px;
}

.exit-btn {
    display: flex;
    justify-content: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.links-line {
    margin: 30px 0px 10px 0px;
    display: flex;
}

.links-txt {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    cursor: default;
}

.links-txt::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: black;
    right: -150px;
    top: 10px;
}

.links-txt::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: black;
    left: -150px;
    top: 10px;
}


.personal-links-btns ul li a {
    display: flex;
    align-items: center;
    gap: 7px;
}

.personal-links-btns ul li a i {
    font-size: 20px;
}


.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.438);
    display: none;
    z-index: 2;
}

.overlay.active {
    display: initial;
}

.side-menu.active {
    width: 450px;
    opacity: 0.95;
    animation: textSlide 0.5s linear;

}

.extra-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.extra-links ul li a {
    font-size: 25px;
    color: white;
    background-color: #000000e2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    transition: 0.3s;

    &:hover {
        background-color: #3e3e3ee2;
    }

    &:active {
        background-color: #6c6c6ce2;
    }
}

/* Main content */
main {
    height: auto;
    width: 100%;
}

.new-clotes-landing {
    margin: 50px 0 60px 0;
    width: 100%;
    height: 200px;
    background: url("../img/new-banner.avif") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.297);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 10px rgb(255, 215, 215);
}

.choose-your-style-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.choose-your-style-title {
    font-size: 40px;
    line-height: 2.5;
    text-align: left;
    padding: 0px 40px;
}

.choose-your-style {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
    height: 1000px;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 40px;
}

.gruop-1-title,
.gruop-2-title,
.gruop-3-title,
.gruop-4-title {
    font-size: 13px;
    color: white;
}

.group-1-txt,
.group-2-txt,
.group-3-txt,
.group-4-txt {
    font-size: 25px;
    line-height: 2;
    color: white;
}

.group-btn a {
    padding: 5px 15px;
    background-color: white;
    color: black;
    border-radius: 40px;
    font-family: inherit;
    text-decoration: none;
    font-size: 15px;
}


.group-1 {
    background: url("../img/nike-just-do-it.jpg") no-repeat center;
    background-size: cover;
}

.group-2 {
    background: url("../img/nike-just-do-it\ \(1\).jpg") no-repeat center;
    background-size: cover;
}

.group-3 {
    background: url("../img/nike-just-do-it\ \(2\).jpg") no-repeat center;
    background-size: cover;
}

.group-4 {
    background: url("../img/nike-just-do-it\ \(3\).jpg") no-repeat center;
    background-size: cover;
}


/* new arrivals */
.new-arrivals-slider {
    overflow: hidden;
    position: relative;
    height: 500px;
}

.new-arrivals-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}


.new-arrivals-title {
    text-align: left;
    margin: 80px 0px 20px 0;
    font-size: 40px;
    padding: 0px 40px;
}

.new-arrival-btn {
    position: absolute;
    color: white;
    font-size: 40px;
    background-color: rgba(173, 173, 173, 0.687);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: rgb(173, 173, 173);
    }

    &:active {
        background-color: rgb(202, 202, 202)
    }
}

.new-arrival-btn-prev {
    left: 50px;
    top: calc(50% + 60px);
}

.new-arrival-btn-next {
    right: 50px;
    top: calc(50% + 60px);
}

/* newest style */
.newest-style-wrapper {
    text-align: center;
    margin: 80px 0 10px 0;
}

.newest-style-title {
    font-size: 40px;
}

/* join us */
.join-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-title {
    font-size: 25px;
}

.joint-btns {
    color: white;
    display: flex;
    gap: 30px;
}

.joint-btns a {
    padding: 5px 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        box-shadow: 0 5px 7px 1px black;
    }
}

/* footer */
footer {
    background: url("../img/Home.png") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.062);
    margin: 60px 0 0 0;
}

.footer-wrapper {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-wrapper ul {
    list-style: none;
}

.footer-wrapper ul li:first-child {
    margin-bottom: 10px;
    opacity: 0.7;
    cursor: default;
}

.footer-wrapper ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    opacity: 0.6;
    transition: 0.1s;

    &:hover {
        opacity: 1;
    }
}

.footer-column-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}