@media screen and (max-width: 1200px) {
    .new-featured-clothess-wrapper {
        grid-template-columns: repeat(2, auto);
    }

    .new-featured-clothess-wrapper img {
        height: 300px;
        width: auto;
    }
}

@media screen and (max-width: 980px) {
    .new-featured-clothess-main-wrapper {
        display: block;
    }
}

@media screen and (max-width: 1030px) {
    .about-us-landing {
        flex-direction: column;
        height: auto;
    }

    .about-us-landing img {
        height: 300px;
        width: auto;
    }

    .landing-txt-block {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .extra-links {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .new-featured-clothess-wrapper {
        grid-template-columns: auto;
    }

    .new-featured-clothess-wrapper img {
        height: 500px;
        width: auto;
    }
}

@media screen and (max-width: 530px) {
    .footer-colum-2 img {
        width: 100px;
        height: auto;
    }
}

@media screen and (max-width: 450px) {
    body {
        overflow-x: hidden;
    }

    main {
        padding: 10px 10px 10px 10px;
    }

    .main-links {
        display: none;
    }

    .side-menu.active {
        width: 100%;
    }

    .links-txt::after {
        width: 90px;
        left: -100px;
    }

    .links-txt::before {
        width: 90px;
        right: -100px;
    }

    .form-wrapper {
        padding: 0;
    }

    .input-block {
        width: 250px;
    }

    .about-us-landing img {
        height: 200px;
        width: 100%;
    }

}