@media screen and (max-width: 750px) {
    .extra-links {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .choose-your-style {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 550px) {
    .new-clotes-landing {
        font-size: 30px;
        text-align: center;
    }

    .newest-style-title {
        font-size: 25px;
    }

    .newest-style-txt {
        font-size: 12px;
    }

    .join-title {
        text-align: center;
    }
}

@media screen and (max-width: 530px) {
    .footer-colum-2 img {
        width: 100px;
        height: auto;
    }
}

@media screen and (max-width: 450px) {
    .main-links {
        display: none;
    }

    .side-menu.active {
        width: 100%;
    }

    .links-txt::after {
        width: 90px;
        left: -100px;
    }

    .links-txt::before {
        width: 90px;
        right: -100px;
    }

}